<?xml version="1.0"?>
<launch>
  
  <!-- Launch Gazebo with the world and spawn all drones -->
  <include file="$(find multi_drone_sim)/launch/spawn_drones.launch">
    <arg name="gui" value="true"/>
  </include>
  
  <!-- Start the area exploration controller -->
  <node name="area_explorer" pkg="multi_drone_sim" type="area_explorer.py" output="screen">
    <param name="config_path" value="$(find multi_drone_sim)/config/areas.yaml"/>
  </node>
  
</launch>
